@model KuliahkuApp.Models.Student

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Student</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Nim" />
            <div class="form-group">
                <label asp-for="Nama_Mhs" class="control-label"></label>
                <input asp-for="Nama_Mhs" class="form-control" />
                <span asp-validation-for="Nama_Mhs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tgl_Lahir" class="control-label"></label>
                <input asp-for="Tgl_Lahir" class="form-control" />
                <span asp-validation-for="Tgl_Lahir" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Alamat" class="control-label"></label>
                <input asp-for="Alamat" class="form-control" />
                <span asp-validation-for="Alamat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JenisKelamin" class="control-label"></label>
                <select asp-for="JenisKelamin" class="form-control" asp-items="Html.GetEnumSelectList<Gender>()">
                    <option value="">Select Gender</option>
                </select>
                <span asp-validation-for="JenisKelamin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
